<ng-container [ngTemplateOutlet]="isAdmin ? adminActions : playerMessage"></ng-container>

<ng-template #adminActions>
    <div class="session-control-container">
        <!-- 🔐 Lock toggle button -->
        <button
            class="lock-toggle-button"
            (click)="toggleLock()"
            [disabled]="!canToggleLock"
            [attr.aria-label]="isLocked ? 'Unlock room' : 'Lock room'"
        >
            <i class="material-icons">
                {{ isLocked ? 'lock' : 'lock_open' }}
            </i>
        </button>

        <!-- ▶️ Start game button -->
        <button class="start-button" [disabled]="!canStartGame" (click)="startGame()">
            <i class="material-icons">play_arrow</i>
            Start Game
        </button>
    </div>
</ng-template>

<ng-template #playerMessage>
    <div class="waiting-message">
        <i class="material-icons">hourglass_empty</i>
        Waiting for game to start...
    </div>
</ng-template>
